<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>ARTO</title>
	<meta name="description" content="ARTO ist ein Dashbord für Abili-T" />
	<meta name="keywords" content="admin, admin dashboard, admin template, cms, crm, droopy Admin, droopyadmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application" />
	<meta name="author" content=""/>
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	
	<!-- Data table CSS -->
	<link href="../static/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
        
        <!-- MORRIS CSS -->
        <link href="../static/vendors/bower_components/morris.js/morris.css" rel="stylesheet" type="text/css">
	
	<!-- Toast CSS -->
	<link href="../static/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css" rel="stylesheet" type="text/css">
		
	<!-- Custom CSS -->
	<link href="../static/dist/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<!-- Preloader -->
	<div class="preloader-it">
		<div class="la-anim-1"></div>
	</div>
	<!-- /Preloader -->
	<div class="wrapper  theme-5-active pimary-color-magenta">
		<!-- Top Menu Items -->

		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="mobile-only-brand pull-left">
				<a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-20 pull-left" href="javascript:void(0);"><i class="zmdi zmdi-menu"></i></a>
				<a id="toggle_mobile_search" data-toggle="collapse" data-target="#search_form" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-search"></i></a>
				<a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-more"></i></a>
				<div class="nav-header pull-left">
					<div class="logo-wrap">
						<a href="index.html">
							<img class="brand-img" src="../static/img/LogoQuadratischQuer.png"  height="28" alt="brand"/>
						</a>
                                            Abili-T Runtime Overview
					</div>
				</div>	
			</div>
			<div id="mobile_only_nav" class="mobile-only-nav pull-right">
				<ul class="nav navbar-right top-nav pull-right">
					<li>
						<p class="ma-20">Willkommen beim KuV Dashbord {{ name }}</p>
					</li>
					<li>
						<a id="open_right_sidebar" href="#"><i class="zmdi zmdi-view-list top-nav-icon"></i></a>
					</li>
					<li class="dropdown auth-drp">
						<a href="https://iss.telekom.de/01_DEV/ARTO/index.php/employee/myprofile/2"><i class="zmdi zmdi-account top-nav-icon"></i></a>
					</li>
				</ul>
			</div>	
		</nav>
		<!-- /Top Menu Items -->
		
		<!-- Left Sidebar Menu -->
		<div class="fixed-sidebar-left">
			<ul class="nav navbar-nav side-nav nicescroll-bar">

				<li class="navigation-header">
					<span>Dashboards</span> 
					<i class="zmdi zmdi-more"></i>
				</li>
				<li>
					<a href="https://iss.telekom.de/01_DEV/ARTO/Index.php"><div class="pull-left"><i class="zmdi zmdi-chart-donut mr-20"></i><span class="right-nav-text">Produktionsstand</span></div><div class="clearfix"></div></a>
				</li>
				<li>
					<a href="./dash"><div class="pull-left"><i class="zmdi zmdi-chart-donut mr-20"></i><span class="right-nav-text">KuV</span></div><div class="clearfix"></div></a>
				</li>
				<li><hr class="light-grey-hr mb-10"/></li>

				<li class="navigation-header">
					<span>Kennzahlen</span> 
					<i class="zmdi zmdi-more"></i>
				</li>
				<li>
					<a href="https://iss.telekom.de/01_DEV/ARTO/index.php/kennzahlen/rerating_kennzahl"><div class="pull-left"><i class="zmdi zmdi-chart mr-20"></i><span class="right-nav-text">ReRating Kennzahlen</span></div><div class="clearfix"></div></a>
				</li>
				<li><hr class="light-grey-hr mb-10"/></li>


				<li class="navigation-header">
					<span>Konfiguration</span> 
					<i class="zmdi zmdi-more"></i>
				</li>
				<li>
					<a href="javascript:void(0);" data-toggle="collapse" data-target="#ui_dr"><div class="pull-left"><i class="zmdi zmdi-smartphone-setup mr-20"></i><span class="right-nav-text">Schnittstellenregeln</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
					<ul id="ui_dr" class="collapse collapse-level-1 two-col-list">
						<li>
							<a href="https://iss.telekom.de/01_DEV/ARTO/index.php/monitoring/flightplan_settings/2">Eigene Flugtafelregeln</a>
						</li>
						<li>
							<a href="https://iss.telekom.de/01_DEV/ARTO/index.php/monitoring/warningboard_settings/2">Eigene Warntafelregeln</a>
						</li>
						<li>
							<a href="https://iss.telekom.de/01_DEV/ARTO/index.php/monitoring/flightplan_settings/0">Allgemeine Flugtafelregeln</a>
						</li>
						<li>
							<a href="https://iss.telekom.de/01_DEV/ARTO/index.php/monitoring/warningboard_settings/0">Allgemeine Warntafelregeln</a>
						</li>			
					</ul>
				<li><hr class="light-grey-hr mb-10"/></li>


				<li class="navigation-header">
					<span>Systeminformation</span> 
					<i class="zmdi zmdi-more"></i>
				</li>
				<li>
					<a href="https://iss.telekom.de/01_DEV/ARTO/index.php/systeminfo/sstkonfig"><div class="pull-left"><i class="zmdi zmdi-airplane mr-20"></i><span class="right-nav-text">Schnittstellen</span></div><div class="clearfix"></div></a>
				</li>
				<li><hr class="light-grey-hr mb-10"/></li>

				<li>
					<div class="button-list-md pa-5">
						<a href="https://jira.devops.telekom.de/secure/Dashboard.jspa" target="_blank">
                                                    <button class="pa-5 btn btn-default btn-sm btn-icon-anim btn-circle">
                                                    
							<i>
								<img src="../static/img/JIRA.svg" height="100%" />
							</i>
                                                    
                                                    </button>
                                                </a>					
					
						<a href="http://qde1w9.de.t-internal.com:6861/trw/authenticate/login.jsp" target="_blank">
                                                    <button class="pa-5 btn btn-default btn-sm btn-icon-anim btn-circle">
							<i>
								<img src="../static/img/abinitio.svg" height="100%" />
							</i>
                                                    </button>
                                                </a>
				
						<a href="https://uc4global-p.telekom.de:8443/awi/" target="_blank">
                                                    <button class="pa-5 btn btn-default btn-sm btn-icon-anim btn-circle">
							<i>
								<img src="../static/img/uc4.svg" height="100%" />
							</i>
                                                    </button>
                                                </a>
	
						<a href="https://q4de3csy121.gdc-chnz01.t-systems.com/trac/ABILIT" target="_blank">
                                                    <button class="pa-5 btn btn-default btn-sm btn-icon-anim btn-circle">
							<i>
								<img src="../static/img/TRAC.svg" height="100%" />
							</i>
                                                    </button>
                                                </a>
                                            
						<a href="https://yam.telekom.de/groups/abili-t-basic-knowledgement-how-tos-tutorials/projects/arto" target="_blank">
                                                    <button class="pa-5 btn btn-default btn-sm btn-icon-anim btn-circle">
							<i>
								<img src="../static/img/YAM.svg" height="100%" />
							</i>
                                                    </button>
                                                </a>
					</div>
				</li>
			</ul>


		</div>
		<!-- /Left Sidebar Menu -->
		
		<!-- Right Sidebar Menu -->
		<div class="fixed-sidebar-right">
			<ul class="right-sidebar">
				<li>
					<div  class="tab-struct custom-tab-1">
						<div class="tab-content" id="right_sidebar_content">
							<div  id="todo_tab" class="tab-pane fade active in" role="tabpanel">
								<div class="todo-box-wrap">
									<div class="add-todo">
										<a href="javascript:void(0)" class="inline-block txt-grey">
											<i class="zmdi zmdi-more"></i>
										</a>	
										<span class="inline-block txt-dark">todo list</span>
										<a href="javascript:void(0)" class="inline-block text-right txt-grey"><i class="zmdi zmdi-plus"></i></a>
										<div class="clearfix"></div>
									</div>
									<div class="set-height-wrap">
										<!-- Todo-List -->
										<ul class="todo-list nicescroll-bar">
											<li class="todo-item">
												<div class="checkbox checkbox-default">
													<input type="checkbox" id="checkbox01"/>
													<label for="checkbox01">Record The First Episode</label>
												</div>
											</li>
											<li>
												<hr class="light-grey-hr"/>
											</li>
											<li class="todo-item">
												<div class="checkbox checkbox-pink">
													<input type="checkbox" id="checkbox02"/>
													<label for="checkbox02">Prepare The Conference Schedule</label>
												</div>
											</li>
											<li>
												<hr class="light-grey-hr"/>
											</li>
											<li class="todo-item">
												<div class="checkbox checkbox-warning">
													<input type="checkbox" id="checkbox03" checked/>
													<label for="checkbox03">Decide The Live Discussion Time</label>
												</div>
											</li>
											<li>
												<hr class="light-grey-hr"/>
											</li>
											<li class="todo-item">
												<div class="checkbox checkbox-success">
													<input type="checkbox" id="checkbox04" checked/>
													<label for="checkbox04">Prepare For The Next Project</label>
												</div>
											</li>
											<li>
												<hr class="light-grey-hr"/>
											</li>
											<li class="todo-item">
												<div class="checkbox checkbox-danger">
													<input type="checkbox" id="checkbox05" checked/>
													<label for="checkbox05">Finish Up AngularJs Tutorial</label>
												</div>
											</li>
											<li>
												<hr class="light-grey-hr"/>
											</li>
											<li class="todo-item">
												<div class="checkbox checkbox-purple">
													<input type="checkbox" id="checkbox06" checked/>
													<label for="checkbox06">Finish Infinity Project</label>
												</div>
											</li>
											<li>
												<hr class="light-grey-hr"/>
											</li>
										</ul>
										<!-- /Todo-List -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<!-- /Right Sidebar Menu -->
		
		
		
		<!-- Right Sidebar Backdrop -->
		<div class="right-sidebar-backdrop"></div>
        <!-- /Right Sidebar Backdrop -->
        




        <!-- Main Content -->
    
        {% block content %}
        
        {% endblock %}


        <!-- /Main Content -->





    </div>
    <!-- /#wrapper -->
	
	<!-- JavaScript -->
	
    <!-- jQuery -->
    <script src="../static/vendors/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    
	<!-- Data table JavaScript -->
	<script src="../static/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
	
	<!-- Slimscroll JavaScript -->
	<script src="../static/dist/js/jquery.slimscroll.js"></script>

	<!-- EasyPieChart JavaScript -->
	<script src="../static/vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
	
	<!-- Progressbar Animation JavaScript -->
	<script src="../static/vendors/bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
	<script src="../static/vendors/bower_components/jquery.counterup/jquery.counterup.min.js"></script>
	
	<!-- Fancy Dropdown JS -->
	<script src="../static/dist/js/dropdown-bootstrap-extended.js"></script>
	
	<!-- Sparkline JavaScript -->
	<script src="../static/vendors/jquery.sparkline/dist/jquery.sparkline.min.js"></script>
	
	<!-- Owl JavaScript -->
	<script src="../static/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
	
	<!-- Switchery JavaScript -->
	<script src="../static/vendors/bower_components/switchery/dist/switchery.min.js"></script>
	
	<!-- EChartJS JavaScript -->
	<script src="../static/vendors/bower_components/echarts/dist/echarts-en.min.js"></script>
	<script src="../static/vendors/echarts-liquidfill.min.js"></script>
	<script src="../static/vendors/ecStat.min.js"></script>

	<!-- Bootstrap Select JavaScript -->
	<script src="../static/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	
	<!-- Toast JavaScript -->
	<script src="../static/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
	
        <!-- MODAL VIEWS -->
	<script src="../static/dist/js/modal-data.js"></script>
        
        <!-- MORRIS CHARTS -->
        <script src="../static/vendors/bower_components/raphael/raphael.min.js"></script>
	<script src="../static/vendors/bower_components/morris.js/morris.min.js"></script>
        
	<!-- Init JavaScript -->
        
	<script src="../static/dist/js/init.js"></script>
        <script src="../static/dist/js/dashboard-data.js"></script>
	
</body>
</html>